apiVersion: v1
kind: Secret
metadata:
  name: postgres-credentials
type: Opaque
data:
  POSTGRES_USER: {{ POSTGRES_USER | b64encode }}
  POSTGRES_PASSWORD: {{ POSTGRES_PASSWORD | b64encode }}
  POSTGRES_DB: {{ POSTGRES_DB | b64encode }}
