apiVersion: v1
kind: Secret
metadata:
  name: postgres-credentials
type: Opaque
data:
  DB_NAME: {{ "docker_trials" | b64encode }}
  DB_URL: {{ POSTGRES_URL | b64encode }}
  DB_USER: {{ POSTGRES_USER | b64encode }}
  DB_PASSWORD: {{ POSTGRES_PASSWORD | b64encode }}
  AWS_ID: {{ AWS_ID | b64encode}}
  AWS_REGION: {{ AWS_REGION | b64encode}}